* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 박스의 크기를 어떤 것을 기준으로 계산할지를 정하는 속성 : 테두리를 기준으로 크기를 정한다. */
}

body {
    min-height: 100vh;
    overflow-x:hidden;
    background-color: #fff;
}

/* 레이아웃 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background-color: #fff;
    
    display: flex;
    justify-content: center;
    
    z-index: 100;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.5);
}

.header {
    width: 990px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    font-size: 2em;
    color: #333;
}

.navigation a {
    text-decoration: none;
    color: #333;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover, .navigation a.active {
    background: #333;
    color: #fff;
}


/* cont_start */
.cont_start {
    width: 100%;
    height: 400px;

    margin-top: 72px;
    padding: 60px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #333;
    background-image: url('../img/image 1.png');
    background-repeat: no-repeat;
    background-size : cover;
}

.cont_start h2 {
    font-size: 2em;
}

.cont_start h1 {
    padding-bottom: 90px;
    font-size: 3em;
}


/* about me */
.cont_AboutME {
    width: 100%;
    height: 600px;
    /* background-color:#555; */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px;
    
}

.cont_AboutME h1 {
    padding: 30px;
}


.aboutme_rect {
    width: 990px;
    height: 450px;
    background-color: #6DA4AA;
    border-radius: 10px; 
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.aboutme_rect h1 {
    display: flex;
    justify-content: center;
}

.aboutme_rect .rectIn {
    width: 100%;
    height: 350px;
    /* background-color: rgb(119, 119, 119); */

    display: flex;
    align-items: center;
}

.rectIn .profile {
    width: 280px;
    height: 290px;
    background-color: #fff;
    margin: 0 100px;
    border-radius: 10px;
}

.rectIn ul {
    padding-left: 40px;
}

.rectIn ul li {
    padding: 15px;
}

.rectIn ul li img {
    width: 16px;
    margin-right: 20px;
}

/* skills */
.cont_Skills {
    width: 100%;
    height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_Skills h1 {
    padding-bottom: 30px;
}

.Kategorie {
    display: flex;
}


.box-wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
  }

.box {
    position: relative;
    width: 70px; height: 70px;
    /* border: 1px solid #283593; */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);

    margin: 20px 10px;
}

  .box img {
    width: 100%;
  }
  
  .box .info {
    color: #fff;
    position: absolute; left: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    font-size: 10px;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box:hover .info {
    opacity: 1;
  }
  .box .info p {
    font-size: 8px;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    
    text-transform: uppercase;
  }







/* 깃허브, 블로그~ */
.cont_Archiving {
    width: 100%;
    height: 500px;
    background-color: #FAEF9B;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_Archiving h1 {
    padding: 30px;
}

.Archiving_rect {
    width: 990px;
    height: 300px;
    /* background-color: #6DA4AA;  */
    
    display: flex;
    justify-content: space-between;
}

.Archiving_rectIn {
    width: 480px;
    height: 300px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}


.Archiving_rectIn h2 {
    font-size: 1.8em;
    padding: 5px;
}

.Archiving_rectIn p a {
    text-decoration: none;
    color: #3B3486;
}

.Archiving_rectIn h2 img {
    padding-right: 10px;
}

.Archiving_rectIn div {
    padding-top: 50px;
    padding-left: 20px;
}

.Archiving_rectIn div ul li {
    list-style-type: disc;
    padding: 5px;
}


/* 프로젝트 */
.cont_project {
    width: 100%;
    height: 2000px;
    background-color: #647D87;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_project h1 {
    padding : 30px;
}

.cont_project .pro {
    width: 990px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    padding: 30px;
    /* display: flex;
    align-items: center; */
}

.pro h3 {
    font-size: 1.8em;
    padding: 30px;
}

.pro .slideAndExp {
    display: flex;
    width: 920px;
    height: 300px;
}

.pro .slide {
    padding-right: 100px;
}

.arrowSlider span {
    font-size: 1.3em;
    cursor: pointer;
}

/* 슬라이더  */
.mainSlide {
    width: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.mainSlide div img {
    width: 400px;
    height: 250px;
}

.arrowSlider {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.slideAndExp div .text {
    padding-bottom: 15px;
}

.slideAndExp div .text:nth-last-child(2) {
    padding-bottom: 30px;
}

.slideAndExp div ul {
    padding: 10px 0;
}

.slideAndExp div ul li{
    padding: 3px 0;
}

.slideAndExp div p a {
    color: #3B3486;
    margin-top: 20px;
}

.source {
    margin-top: 30px;
}



footer {
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* 타이핑 애니메이션 */
.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: typing 2s steps(14, end), blink-caret 0.75s step-end infinite;
    font-size: 2em; 
    line-height: 1.2em;
    height: 10px;
    border-right: 2px solid rgb(255, 255, 255); 
    padding-right: 4px; 
    margin-bottom: 30px;
    margin-top: 10px;
}

/* 타이핑 애니메이션 키프레임 설정 */
 @keyframes typing {
    from { width: 0; }
    to { width: 245px; }
}

/* caret(커서) 깜빡임 효과 */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
     100% { width: 2px; } 
}

/* tablet */
/* 최대 너비가 720일 때 적용 즉, 720px보다 작을 때 적용 */
@media screen and (max-width: 720px){
    body {
        background-color: rgb(113, 184, 255);
    }
}


/* mobile */
/* 최대 너비가 540일 때 적용 즉, 540px보다 작을 때 적용 */
@media screen and (max-width: 540px){
    body {
        background-color: darkcyan;
    }
}

